h2{
    margin-bottom:20px;
    color:#333;
}
.feedback-form{
    max-width:500px;
    padding:20px;
    background:#f9f9f9;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.feedback-form input,
.feedback-form textarea{
    width:100%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    border-radius:5px;
}
.feedback-form textarea{
    resize:none;
    height:100px;
}

    .feedback-form button {
        margin-top: 12px;
        padding: 10px 20px;
        background: #0d6efd;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .feedback-form button:hover {
            background: #084298;
        }

.feedback-table {
    width: 100%;
/*    border-collapse: collapse;*/
    margin-top: 30px;
}

    .feedback-table th,
    .feedback-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    .feedback-table th {
        background: #0d6efd;
        color: white;
    }

    .feedback-table td:nth-child(even) {
        background: #f2f2f2;
    }
    .feedback-table td:last-child {
        display: flex;
        gap: 10px;
    }


.btnEdit {
    background: #ffc107;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.btnDelete {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.btnEdit:hover {
    background: #e0a800;
}

.btnDelete:hover {
    background: #bb2d3b;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background: #0d6efd;
    color: white;
}

.modal-footer button {
    min-width: 100px;
}
